<section id="contact" class="contact">
    <div class="wrap">            
      <div class="contacts-description">
        <h2>CONTACTS</h2>
        <div class="description">
          <p>Got an idea for a collab?</p>
          <p>Hit me up!</p>
        </div>        
      </div>
      <div class="cta" role="list">
        <a role="listitem" href="mailto:cermanova@icloud.com" aria-label="Email">
          <p>EMAIL</p>
          <p><img src="../sipka.svg" alt="sipka"></p>
        </a>
        <a role="listitem" href="https://linkedin.com/in/karolina-cermanova/" target="_blank" rel="noopener" aria-label="LinkedIn">
          <p>LINKEDIN</p>
          <p><img src="../sipka.svg" alt="sipka"></p>
        </a>
      </div>
    </div>
</section>
<section class="footer" id="footer">
  <div class="footwrap">
    <div class="footer-name">KAROLINA C DESIGN</div>
    <div class="muted">© 2025 All rights reserved</div>
  </div>
</section>
